

<form role="form" class="c-filter__form" method="get" id="{ID}">

    <div class="c-filter__expander">
        <span class="c-filter__expander-expand">
            {EXPAND}
        </span>
        <span class="c-filter__expander-collapse">
            {COLLAPSE}
        </span>
    </div>
    <div class="c-filter__toggle">
        {TOGGLE}
        {TOGGLE_FIELD}
    </div>


    <div class="c-filter__filter l-bar__space-keeper">
        <!-- BEGIN filter -->
        <div class="c-filter__filter--input l-bar__element">
            {INPUT}
        </div>
        <!-- END filter -->
    </div>

    <!-- BEGIN param -->
    <input  type="hidden" name="{PARAM_NAME}" value="{VALUE}" />
    <!-- END param -->

    <input type="submit" />

</form>
