<form class="c-filter__form" method="get" id="{ID}">

    <dialog class="c-filter__filter-disabled_inputs">
        <div class="modal-content">
            <div class="modal-header">
                <button formmethod="dialog" class="close" aria-label="close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <!-- BEGIN inactive_filter -->
                {FILTER}
                <!-- END inactive_filter -->
            </div>
        </div>
    </dialog>


    <div class="c-filter__controls l-bar__space-keeper">

        <div class="c-filter__expander l-bar__element">
            <span class="c-filter__expander-expand {COLLAPSED}">
                {EXPAND}
            </span>
            <span class="c-filter__expander-collapse {EXPANDED}">
                {COLLAPSE}
            </span>
        </div>

        <div class="c-filter__toggle l-bar__element">
            {TOGGLE}
        </div>

        <div class="c-filter__settings l-bar__element">
            {FILTER_CONTROL}
        </div>

    </div>


    <div class="c-filter__filter">

        <div class="c-filter__filter-inputs l-bar__space-keeper {EXPANDED}">
            <!-- BEGIN filter -->
            {FILTER}
            <!-- END filter -->
        </div>

        <div class="c-filter__filter-shortvalues l-bar__space-keeper {COLLAPSED}">
            
            <!-- this is the place to display values if filter is collapsed -->
            <div class="l-bar__element">
            shortvalues
            </div>
            <div class="l-bar__element">
            shortvalues
            </div>
            
        </div>

    </div>

    <!-- BEGIN param -->
    <input  type="hidden" name="{PARAM_NAME}" value="{VALUE}" />
    <!-- END param -->

    <input type="submit" />
</form>
