@use "../../../010-settings" as s;
@use "../../../050-layout/basics" as l;
@use "../../../050-layout/standardpage/layout_standardpage" as lstp;

$c-sequence__shadow--down: 0 6px 3px -3px rgba(0, 0, 0, 0.15);
$c-sequence__shadow--up: 0 -6px 3px -3px rgba(0, 0, 0, 0.15);

.c-sequence {
  position: relative;
  border: s.$il-main-border;
  background-color: s.$il-main-bg;
  &__header {
    padding: l.$il-padding-xlarge-vertical l.$il-margin-xlarge-horizontal;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    background-color: s.$il-main-bg;
    box-shadow: $c-sequence__shadow--down;
    &__segment {
      padding: l.$il-padding-xxlarge-vertical l.$il-margin-xxlarge-horizontal;
      &__title {
        h2 {
          margin: 0;
        }
      }
      &__actions {
        margin-top: l.$il-margin-large-vertical;
      }
    }
  }
}

.il-layout-page-content:has(> .breadcrumbs) {
  .c-sequence__header {
    top: lstp.$il-standard-page-breadcrumbs-height;
  }
}
