<div id="{ID}" class="ui-input-dyngroup">
    <template>
        <!-- BEGIN block_template -->
        <div class="ui-input-dynamic-input">
            {INPUTS}
            <div class="ui-input-dynamic-input__controls">
                <span data-action="remove">{CONTROLS_REMOVE}</span>
            </div>
        </div>
        <!-- END block_template -->
    </template>
    <div class="ui-input-dynamic-inputs-list">
        <!-- BEGIN block_group -->
        <div class="ui-input-dynamic-input">
            {INPUTS}
            <div class="ui-input-dynamic-input__controls">
                <span data-action="remove">{CONTROLS_REMOVE}</span>
            </div>
        </div>
        <!-- END block_group -->
    </div>

    <hr>
    {CONTROLS_ADD}
</div>
