/* Error: expected ";".
 *     ,
 * 212 |     @extend .c-table-data__header__resize-wrapper {
 *     |                                                   ^
 *     '
 *   templates/default/070-components/UI-framework/Table/_ui-component_table.scss 212:51  @use
 *   templates/default/070-components/_index.scss 36:1                                    @use
 *   templates/default/delos.scss 26:1                                                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a     \2577 \a 212 \2502      @extend .c-table-data__header__resize-wrapper {\a     \2502                                                    ^\a     \2575 \a   templates/default/070-components/UI-framework/Table/_ui-component_table.scss 212:51  @use\a   templates/default/070-components/_index.scss 36:1                                    @use\a   templates/default/delos.scss 26:1                                                    root stylesheet';
}
