/* Error: There is no module with the namespace "btstrp3".
 *    ,
 * 98 |   @include btstrp3.button-variant($il-btn-ctrl-color, $il-btn-ctrl-bg, $il-btn-ctrl-border);
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   templates/default/070-components/UI-framework/Button/_ui-component_button.scss 98:3  @use
 *   templates/default/070-components/_index.scss 13:1                                    @use
 *   templates/default/delos.scss 26:1                                                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "btstrp3".\a    \2577 \a 98 \2502    @include btstrp3.button-variant($il-btn-ctrl-color, $il-btn-ctrl-bg, $il-btn-ctrl-border);\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   templates/default/070-components/UI-framework/Button/_ui-component_button.scss 98:3  @use\a   templates/default/070-components/_index.scss 13:1                                    @use\a   templates/default/delos.scss 26:1                                                    root stylesheet';
}
