<?xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml $"
	id="iafp">
	<baseclasses>
		<baseclass name="ilObjIndividualAssessmentFormPoolGUI" dir="classes" />
	</baseclasses>
	<objectgroups>
		<objectgroup id="iafp" name="IndividualAssessmentFormPool" default_pres_pos="172"/>
	</objectgroups>
	<objects>
		<object
			id="iafp"
			class_name="IndividualAssessmentFormPool"
			dir="classes"
			default_pos="190"
			default_pres_pos="190"
			checkbox="1"
			inherit="1"
			allow_link="0"
			allow_copy="1"
			translate="0"
			rbac="1"
			export="0"
			orgunit_permissions="0"
			amet="0"
			offline_handling="1"
		>
			<parent id="cat">cat</parent>
			<parent id="crs">crs</parent>
			<parent id="fold">fold</parent>
			<parent id="root">root</parent>
			<parent id="grp">grp</parent>
		</object>
	</objects>
</module>
