<div class="c-sequence c-sequence--linear" id="{ID}">
    <!-- BEGIN globalactions -->
    <div class="c-sequence__global-actions">
        <div class="c-sequence__navigation--actions_external">
            {ACTIONS_GLOBAL}
        </div>
    </div>
    <!-- END globalactions -->
    <div class="c-sequence__segment">
        <div class="c-sequence__segment__header">
            <div class="c-sequence__segment__header__title">
                <h2>{SEGMENT_TITLE}</h2>
            </div>
            <!-- BEGIN segmentactgions -->
            <div class="c-sequence__segment__header__actions">
                {ACTIONS_SEGMENT}
            </div>
            <!-- END segmentactgions -->
        </div>
        <div class="c-sequence__segment__contents">
            {SEGMENT_CONTENTS}
        </div>
    </div>

    <div class="c-sequence__navigation">
        <div class="c-sequence__navigation--back">
            {BACK}
        </div>
        <!-- BEGIN viewcontrols -->
        <div class="c-sequence__navigation--viewcontrols">
            {VIEWCONTROLS}
        </div>
        <!-- END viewcontrols -->
        <div class="c-sequence__navigation--next">
            {NEXT}
        </div>
    </div>
</div>


