<div class="c-sequence c-sequence--linear" id="{ID}">

	<div class="c-sequence__navigation l-bar__space-keeper">
		<div class="c-sequence__navigation--primary l-bar__element">
			{BACK}
			{NEXT}
		</div>
		<!-- BEGIN viewcontrols -->
		<div class="c-sequence__navigation--viewcontrols l-bar__element">
			{VIEWCONTROLS}
		</div>
		<!-- END viewcontrols -->

		<!-- BEGIN segmentactgions -->
		<div class="c-sequence__navigation--actions_segment l-bar__element">
			{ACTIONS_SEGMENT}
		</div>
		<!-- END segmentactgions -->

		<!-- BEGIN globalactions -->
		<div class="c-sequence__navigation--actions_external l-bar__element">
			{ACTIONS_GLOBAL}
		</div>
		<!-- END globalactions -->
	</div>

	<div class="c-sequence__segment">
		<div class="c-sequence__segment--title">
			{SEGMENT_TITLE}
		</div>
		<div class="c-sequence__segment--contents">
			{SEGMENT_CONTENTS}
		</div>
	</div>
</div>